<div class="header">
    <div class="title">

    <img src="assets/logo.svg" alt="Docltolib"/>

    </div>

    <div class="button">
        <button class="profesionnal_button">
            <p>Vous êtes soignant ?</p>
        </button>


        <button class="help_popup">
            <p>Centre d'Aide</p>
        </button>

        <button class="connection_button">
            <p>Se connecter</p>
            <p class = "grey_text">Gérer mes rendez-vous</p>
        </button>
    </div>





</div>

