<div>
  <app-help-header></app-help-header>
</div>

<div class="help-page-container">
  <header class="help-header">
    <h1>Centre d'aide Doctolib</h1>
    <p>Recherchez des articles pour trouver votre réponse</p>
    <form class="browser">
      <div class="input_with_pictogram_container">
        <div class="input_with_pictogram" >   
          <input class="input" type="text" placeholder="Ex : Mot de passe oublié, créer un compte..."/> 
        </div>
      </div>  
      <div class="shearch_button_container">
        <button class="search_button" >
          <svg class="pictogram"  width="32" height="32" fill="white" viewBox="0 0 16 16">
            <path d="m13.813 13.04-3.141-3.142c.68-.82 1.055-1.875 1.055-3.023C11.727 4.203 9.523 2 6.852 2 4.156 2 2 4.203 2 6.875 2 9.57 4.18 11.75 6.852 11.75c1.125 0 2.18-.375 3.023-1.055l3.14 3.14a.56.56 0 0 0 .422.165.47.47 0 0 0 .376-.164c.234-.211.234-.563 0-.797ZM3.124 6.874a3.746 3.746 0 0 1 3.75-3.75 3.76 3.76 0 0 1 3.75 3.75 3.746 3.746 0 0 1-3.75 3.75 3.73 3.73 0 0 1-3.75-3.75"></path>
          </svg>
        </button>
      </div>
    </form>
  </header>

  <div class="help-content">
    <section class="faq-section">
      <h2 class="faq-title">Questions fréquentes</h2>
      <div class="faq-cards">
        <div class="faq-card">
          <h3 class="faq-card-title">Découvrir Santé, un espace pour retrouver tous vos documents et informations de santé</h3>
          <p class="faq-card-description">
            Avec Santé, Doctolib vous permet maintenant de rassembler toutes vos informations de santé au même endroit, pour vous...
          </p>
        </div>
        <div class="faq-card">
          <h3 class="faq-card-title">J'ai oublié mon mot de passe et/ou mes identifiants, que faire ?</h3>
          <p class="faq-card-description">
            Nous vous invitons à suivre les étapes explicitées ci-après si vous ne parvenez pas à vous connecter à votre compte...
          </p>
        </div>
        <div class="faq-card">
          <h3 class="faq-card-title">Impossible de prendre un rendez-vous en ligne</h3>
          <p class="faq-card-description">
            Vous n’arrivez pas à trouver un praticien sur Doctolib ou vous n’arrivez pas à prendre rendez-vous par manque de disponibilité...
          </p>
        </div>
      </div>
    </section>
  
    <section class="help-section">
      <h2 class="help-title">Parcourir les rubriques d'aide</h2>
      <div class="help-cards">
        <div class="help-card">
          <img src="assets/monCompte.png" alt="Compte Doctolib" class="help-icon" />
          <h3 class="help-card-title">Mon compte Doctolib & mes documents</h3>
          <p class="help-card-description">Gérez votre santé et celle de vos proches avec Doctolib</p>
        </div>
        <div class="help-card">
          <img src="assets/mesRV.png" alt="Rendez-vous" class="help-icon" />
          <h3 class="help-card-title">Mes rendez-vous & mes praticiens</h3>
          <p class="help-card-description">Accédez à vos rendez-vous et à vos praticiens rapidement et simplement</p>
        </div>
        <div class="help-card">
          <img src="assets/mesProches.png" alt="Mes proches" class="help-icon" />
          <h3 class="help-card-title">Mes proches</h3>
          <p class="help-card-description">Ajoutez des proches à votre compte et gérez leurs rendez-vous, messages et documents</p>
        </div>
        <div class="help-card">
          <h3 class="help-card-title">Les soignants présents sur Doctolib</h3>
          <p class="help-card-description">Retrouvez toutes les informations au sujet des soignants présents sur Doctolib</p>
        </div>
        <div class="help-card">
          <img src="assets/infoSante.png" alt="Informations de santé" class="help-icon" />
          <h3 class="help-card-title">Informations de santé</h3>
          <p class="help-card-description">Consultez vos données de santé et restez informé</p>
        </div>
        <div class="help-card">
          <img src="assets/confidentialiteDonnees.png" alt="Confidentialité" class="help-icon" />
          <h3 class="help-card-title">La confidentialité de mes données</h3>
          <p class="help-card-description">Apprenez comment Doctolib protège vos informations personnelles</p>
        </div>
        <div class="help-card">
          <h3 class="help-card-title">English FAQs 🇬🇧</h3>
          <p class="help-card-description">Find English support and information on most important functions of the Doctolib App in France</p>
        </div>
      </div>
    </section>
  </div>
  
</div>