<div>
  <app-help-header></app-help-header>
</div>

<div class="help-page-container">
  <header class="help-header">
    <h1>Centre d'aide Doctolib</h1>
    <p>Recherchez des articles pour trouver votre réponse</p>
    <form class="browser">
      <div class="input_with_pictogram_container">
        <div class="input_with_pictogram" >   
          <input class="input" type="text" placeholder="Ex : Mot de passe oublié, créer un compte..."/> 
        </div>
      </div>  
      <div class="shearch_button_container">
        <button class="search_button" >
          <svg class="pictogram"  width="32" height="32" fill="white" viewBox="0 0 16 16">
            <path d="m13.813 13.04-3.141-3.142c.68-.82 1.055-1.875 1.055-3.023C11.727 4.203 9.523 2 6.852 2 4.156 2 2 4.203 2 6.875 2 9.57 4.18 11.75 6.852 11.75c1.125 0 2.18-.375 3.023-1.055l3.14 3.14a.56.56 0 0 0 .422.165.47.47 0 0 0 .376-.164c.234-.211.234-.563 0-.797ZM3.124 6.874a3.746 3.746 0 0 1 3.75-3.75 3.76 3.76 0 0 1 3.75 3.75 3.746 3.746 0 0 1-3.75 3.75 3.73 3.73 0 0 1-3.75-3.75"></path>
          </svg>
        </button>
      </div>
    </form>
  </header>

  <div class="help-content">
    <section class="help-section">
      <h2>Utiliser Doctolib</h2>
      <ul>
        <li><a href="#">Utiliser Doctolib sur ordinateur, smartphone ou tablette</a></li>
        <li><a href="#">Mot de passe oublié ? / Identifiant(s) oublié(s) ?</a></li>
        <li><a href="#">Prendre et confirmer un rendez-vous sur Doctolib</a></li>
      </ul>
    </section>

    <section class="help-section">
      <h2>Gérer mes rendez-vous</h2>
      <ul>
        <li><a href="#">Annuler ou déplacer un rendez-vous</a></li>
        <li><a href="#">Consulter l'historique de mes rendez-vous</a></li>
      </ul>
    </section>

    <section class="help-section">
      <h2>Problèmes de connexion</h2>
      <ul>
        <li><a href="#">Je ne parviens pas à me connecter à mon compte</a></li>
        <li><a href="#">Problèmes avec la validation en deux étapes</a></li>
      </ul>
    </section>
  </div>
</div>